Repository google/dotprompt, changes with the labels that .github/labeler.yml gives for each.
All labels: root, go, python, js, config, documentation, dotpromptz

.github/labeler.yml:

# Copyright 2025 Google LLC
# SPDX-License-Identifier: Apache-2.0

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
  - changed-files:
      - any-glob-to-any-file: "*"

go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "**/go.mod"
          - "**/go.sum"
          - "go/**"

python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "**/pyproject.toml"
          - "python/**"

js:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.js"
          - "**/*.jsx"
          - "**/*.ts"
          - "**/*.tsx"
          - "**/package.json"
          - "js/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.toml"
          - "**/*.yaml"
          - "**/*.yml"
          - "**/.editorconfig"
          - "**/.github/**"
          - "**/.gitignore"
          - "**/.npmignore"
          - "**/.npmrc"
          - "**/.prettierignore"
          - "**/package.json"
          - "**/tsconfig.*.json"
          - "**/tsconfig.json"
          - "**/typedoc.json"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

dotpromptz:
  - changed-files:
      - any-glob-to-any-file:
          - "**/dotpromptz/**"

# Automatically add labels to any PR also based on branch naming conventions.
build:
  - head-branch: [^.*/build/.*, build]

chore:
  - head-branch: [^.*/chore/.*, chore]

ci:
  - head-branch: [^.*/ci/.*, ci]

feature:
  - head-branch: [^.*/feat/.*, feature]

fix:
  - head-branch: [^.*/fix/.*, fix]

perf:
  - head-branch: [^.*/perf/.*, perf]

refactor:
  - head-branch: [^.*/refactor/.*, refactor]

style:
  - head-branch: [^.*/style/.*, style]

test:
  - head-branch: [^.*/test/.*, test]

chore(ci): use node versions 20 through 23 for GitHub actions
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  biome.json
  js/src/adapters/gemini.ts
  js/src/adapters/openai.ts
  js/src/dotprompt.ts
  js/src/parse.ts
  js/src/picoschema.ts
  js/src/stores/dir.ts
  js/src/types.d.ts
  js/src/util.ts
  js/test/spec.test.ts
  js/test/stores/dir.test.ts
  package.json
Labels: root, js, config

chore(py/deps): add pytest-watcher to run Python tests in response to file changes #45
  python/pyproject.toml
  python/uv.lock
Labels: python, config

Adds llms.txt to docs
  third_party/docsite/src/pages/llms.txt.ts
Labels: js

implement util in py
  python/dotpromptz/src/util.py
Labels: python, dotpromptz

Delete python/dotpromptz/src/helpers.py
  python/dotpromptz/src/helpers.py
Labels: python, dotpromptz

Delete python/dotpromptz/src/handlebars_test.py
  python/dotpromptz/src/handlebars_test.py
Labels: python, dotpromptz

Delete python/dotpromptz/src/parse.py
  python/dotpromptz/src/parse.py
Labels: python, dotpromptz

implement util in py
  python/dotpromptz/src/util.py
Labels: python, dotpromptz

implement util in py
  python/dotpromptz/src/util.py
Labels: python, dotpromptz

fix formatting issues with ruff
  python/dotpromptz/src/util.py
Labels: python, dotpromptz

Fix ruff linting issues
  python/dotpromptz/src/util.py
Labels: python, dotpromptz

chore: update `bin/fmt` to organize imports
  bin/fmt
  captainhook.json
Labels: root

Fix mypy issues
  python/dotpromptz/src/util.py
Labels: python, dotpromptz

Fix mypy issues
  python/dotpromptz/src/util.py
Labels: python, dotpromptz

Fix mypy issues
  python/dotpromptz/src/util.py
Labels: python, dotpromptz

fix(ruff): use the same command for the ci for python checks
  .github/workflows/python.yml
  bin/setup
Labels: config

Porting draft.
  python/dotpromptz/types.py
Labels: python, dotpromptz
