Repository google/dotprompt, pull requests merged in 2025-04, with the labels that each got.

#184 fix(go/dotprompt): Return error if partial and helper are defined
  go/dotprompt/dotprompt.go
  go/dotprompt/dotprompt_test.go
Labels: go

#152 feat(handlebarrz): CI to publish rust python package
  .github/workflows/publish_rust_package.yml
  .github/workflows/smoke-test-wheels.yml
  docs/contributing/packagin_rust.md
  python/handlebarrz/Cargo.lock
  python/handlebarrz/Cargo.toml
  python/handlebarrz/README.md
  python/handlebarrz/dockerfile-alpine
  python/handlebarrz/dockerfile-arm64
  python/handlebarrz/dockerfile-x86-64
  python/handlebarrz/generate-alpine-wheels.sh
  python/handlebarrz/generate-arm-wheels.sh
  python/handlebarrz/generate-x86-64-wheels.sh
  python/handlebarrz/pyproject.toml
  python/handlebarrz/smoke_tests/Dockerfile-alpine
  python/handlebarrz/smoke_tests/Dockerfile-debian
  python/handlebarrz/smoke_tests/Dockerfile-debian-arm64
  python/handlebarrz/smoke_tests/Dockerfile-fedora
  python/handlebarrz/smoke_tests/Dockerfile-fedora-arm64
  python/handlebarrz/smoke_tests/Dockerfile-redhat
  python/handlebarrz/smoke_tests/Dockerfile-redhat-arm64
  python/handlebarrz/smoke_tests/execute-test.sh
  python/handlebarrz/smoke_tests/handlebarrz_test.py
  python/handlebarrz/smoke_tests/pyproject.toml
  python/handlebarrz/smoke_tests/uv.lock
  python/uv.lock
Labels: documentation, python, config

#185 fix(go/dotprompt): Add default helpers only once
  go/dotprompt/dotprompt.go
Labels: go

#186 fix: change publish url to pypi productive url
  .github/workflows/publish_rust_package.yml
Labels: config, fix

#190 fix(handlebarrz): Compatibility tests for python 3.10
  python/handlebarrz/pyproject.toml
  python/handlebarrz/smoke_tests/Dockerfile-alpine
  python/handlebarrz/smoke_tests/Dockerfile-debian
  python/handlebarrz/smoke_tests/Dockerfile-debian-arm64
  python/handlebarrz/smoke_tests/Dockerfile-fedora
  python/handlebarrz/smoke_tests/Dockerfile-fedora-arm64
  python/handlebarrz/smoke_tests/Dockerfile-redhat
  python/handlebarrz/smoke_tests/Dockerfile-redhat-arm64
  python/handlebarrz/smoke_tests/pyproject.toml
  python/handlebarrz/smoke_tests/uv.lock
Labels: python, config, fix
