Repository google/dotprompt, pull requests merged in 2025-02, with the labels that each got.

#47 docs: Adds llms.txt to docs
  third_party/docsite/src/pages/llms.txt.ts
Labels: js

#65 feat: Port JS types to Python
  python/dotpromptz/interfaces.py
Labels: python, dotpromptz

#89 Metadata and partials spec test for dotprompt
  go/dotprompt/dotprompt.go
  go/dotprompt/helper.go
  go/dotprompt/parse.go
  go/dotprompt/parse_test.go
  go/dotprompt/picoschema.go
  go/dotprompt/picoschema_test.go
  go/dotprompt/test/spec_test.go
  go/dotprompt/types.go
  go/dotprompt/util.go
  go/dotprompt/util_test.go
  go/go.mod
  go/go.sum
  go/spec/metadata.yaml
  go/spec/partials.yaml
Labels: config, test, go
