Repository google/dotprompt, pull requests merged in 2025-05, with the labels that each got.

#263 feat(py/dotprompt): render and compile implementations
  js/src/dotprompt.ts
  python/dotpromptz/src/dotpromptz/dotprompt.py
  python/handlebarrz/src/handlebarrz/__init__.py
  python/handlebarrz/src/handlebarrz/_native.pyi
  python/handlebarrz/src/lib.rs
  python/handlebarrz/tests/template_test.py
  python/tox.ini
Labels: python, dotpromptz, js, feature

#264 chore: configure RUST_BACKTRACE=1 for builds by default
  .github/workflows/rust.yml
  rust.bazelrc
  scripts/run_handlebarrz_tests
  scripts/run_rust_checks
Labels: config, root, feature

#247 feat(go/dotprompt): Add DefineSchema API and schema reference support
  go/dotprompt/dotprompt.go
  go/dotprompt/schema.go
  go/dotprompt/schema_test.go
Labels: config, go

#265 fix: update build files in test runner script
  go/dotprompt/BUILD.bazel
  scripts/run_bazel_checks
Labels: fix, go

#267 fix(docs): add documentation explaining yaml spec test format and revert typo
  python/dotpromptz/tests/dotpromptz/spec_test.py
Labels: python, dotpromptz, feature

#269 feat(py/dotpromptz): registering partials and start rendering some specs
  python/dotpromptz/src/dotpromptz/dotprompt.py
  python/dotpromptz/src/dotpromptz/models.py
  python/dotpromptz/tests/dotpromptz/models_test.py
  python/dotpromptz/tests/dotpromptz/spec_test.py
Labels: python, dotpromptz, feature

#270 feat(java): add java formatter
  java/com/google/dotprompt/smoke/Smoke.java
  java/com/google/dotprompt/smoke/SmokeTest.java
  scripts/fmt
  scripts/format_java_files
Labels: feature

#271 chore(rust): configure rust workspace to ensure that clippy blocks usages of unwrap, expect, and panic in library code
  Cargo.toml
Labels: config, root, fix

#273 refactor: group all checks by language/project
  captainhook.json
  scripts/fmt
  scripts/lint
  scripts/run_go_checks
  scripts/run_handlebarrz_checks
  scripts/run_js_checks
  scripts/run_python_checks
  scripts/run_python_checks_with_nox
  scripts/run_python_checks_with_tox
Labels: root, feature

#274 fix(go): modernize go code
  go/dotprompt/dotprompt.go
  go/dotprompt/helper.go
  go/dotprompt/picoschema.go
  go/dotprompt/picoschema_test.go
  go/dotprompt/test/spec_test.go
  go/dotprompt/util.go
  scripts/run_go_checks
Labels: feature, go

#272 touch up readme
  README.md
Labels: documentation, root

#276 chore: release please configuration for rust and java
  .github/release-please.yml
  .release-please-config.json
Labels: config, chore, root

#275 feat(py/dotpromptz): construct test-specific dotprompt instance with partials and partial resolver set up
  .github/workflows/python.yml
  python/dotpromptz/tests/dotpromptz/spec_test.py
  python/handlebarrz/src/handlebarrz/__init__.py
Labels: python, config, dotpromptz, root, feature, test

#280 feat: use the HEAD version of addlicense
  BUILD.bazel
  Cargo.toml
  MODULE.bazel
  bazel/rules_vitest/BUILD.bazel
  go.MODULE.bazel
  go/BUILD.bazel
  go/dotprompt/BUILD.bazel
  go/dotprompt/test/BUILD.bazel
  java.MODULE.bazel
  java/BUILD.bazel
  java/com/BUILD.bazel
  java/com/google/BUILD.bazel
  java/com/google/dotprompt/BUILD.bazel
  java/com/google/dotprompt/smoke/BUILD.bazel
  js/BUILD.bazel
  python/dotpromptz/pyproject.toml
  python/handlebarrz/Cargo.toml
  python/handlebarrz/pyproject.toml
  python/handlebarrz/smoke_tests/pyproject.toml
  python/pyproject.toml
  python/tests/smoke/pyproject.toml
  rs/smoke/BUILD.bazel
  rs/smoke/Cargo.toml
  rust.MODULE.bazel
  scripts/add_license
  scripts/check_license
  spec/BUILD.bazel
  taplo.toml
  third_party/docsite/BUILD.bazel
  ts.MODULE.bazel
Labels: python, config, dotpromptz, root, js, feature, go

#281 feat: use the mold linker if available for rust checks
  scripts/run_rust_checks
Labels: fix

#282 chore(rs): use sccache if available
  scripts/run_rust_checks
Labels: chore

#285 feat: python: implement spec test logic
  python/dotpromptz/src/dotpromptz/dotprompt.py
  python/dotpromptz/tests/dotpromptz/spec_test.py
Labels: python, dotpromptz, test

#286 chore(deps): update js deps
  MODULE.bazel.lock
  js/package.json
  package.json
  pnpm-lock.yaml
Labels: config, root, js, fix

#287 chore(deps): update js and python deps
  MODULE.bazel.lock
  js/package.json
  package.json
  pnpm-lock.yaml
  python/handlebarrz/Cargo.lock
  python/uv.lock
  rs/dotprompt/Cargo.toml
Labels: python, config, root, js, fix

#288 feat(py): move lint checks to scripts/lint and add config for pyrefly
  python/pyproject.toml
  python/uv.lock
  scripts/lint
  scripts/run_python_checks
Labels: python, config, fix

#289 refactor(py/handlebarrz): move native helper definitions into separate helpers.rs mod
  python/handlebarrz/src/helpers.rs
  python/handlebarrz/src/lib.rs
Labels: python, refactor

#290 test(py/handlebarrz): add test case for main block case with missing else block in ifEquals and unlessEquals helpers
  python/handlebarrz/src/helpers.rs
  rs/smoke/Cargo.toml
  taplo.toml
Labels: python, config, root, fix

#292 fix(scripts): Change target names in run_tests script
  scripts/run_tests
Labels: fix

#291 fix(py/handlebarrz): helpers support in handlebarrz
  python/dotpromptz/src/dotpromptz/helpers.py
  python/dotpromptz/tests/dotpromptz/dotprompt_test.py
  python/dotpromptz/tests/dotpromptz/helpers_test.py
  python/dotpromptz/tests/dotpromptz/spec_test.py
  python/handlebarrz/smoke_tests/handlebarrz_test.py
  python/handlebarrz/src/handlebarrz/__init__.py
  python/handlebarrz/src/handlebarrz/_native.pyi
  python/handlebarrz/src/lib.rs
  python/handlebarrz/tests/advanced_features_test.py
  python/handlebarrz/tests/escape_test.py
  python/handlebarrz/tests/helpers_test.py
  python/handlebarrz/tests/partials_test.py
  python/handlebarrz/tests/subexpression_test.py
  python/handlebarrz/tests/template_core_test.py
  python/handlebarrz/tests/template_test.py
Labels: python, dotpromptz, fix

#294 fix: temporarily disable pyrefly
  scripts/lint
Labels: fix

#295 fix: make the formatter format in parallel using rust-parallel if available
  scripts/fmt
  scripts/format_build_files
  scripts/format_go_files
  scripts/format_handlebarrz_files
  scripts/format_python_files
  scripts/format_rust_files
  scripts/format_ts_files
Labels: fix

#296 fix(py): metadata purpose support
  python/dotpromptz/src/dotpromptz/typing.py
  python/dotpromptz/tests/dotpromptz/spec_test.py
Labels: python, dotpromptz

#298 fix(py): fix partials spec test
  python/dotpromptz/tests/dotpromptz/spec_test.py
Labels: bug, python, dotpromptz, fix, test

#299 fix(js): some lint
  js/src/parse.ts
  js/src/picoschema.ts
Labels: js, fix

#300 feat(js): switch to typescript-go preview
  MODULE.bazel.lock
  js/package.json
  package.json
  pnpm-lock.yaml
Labels: config, root, js, fix
