Repository google/dotprompt, pull requests merged in 2025-06, with the labels that each got.

#303 feat(py): fix picoschema spec test
  python/dotpromptz/src/dotpromptz/parse.py
  python/dotpromptz/src/dotpromptz/typing.py
  python/dotpromptz/tests/dotpromptz/spec_test.py
Labels: python, dotpromptz, fix, test

#312 fix(go/genkit): Reset knownpartials and helpers array for every new template
  go/dotprompt/dotprompt.go
Labels: go

#313 fix(js): keep tsc as primary compiler for now
  .vscode/settings.json
  MODULE.bazel.lock
  js/package.json
  package.json
  pnpm-lock.yaml
Labels: config, root, js, fix
