Repository google/dotprompt, pull requests merged in 2025-03, with the labels that each got.

#101 Update issue templates
  .github/ISSUE_TEMPLATE/🎻-dotprompt-fiddle.md
  .github/ISSUE_TEMPLATE/🐞-bug-report--go-.md
  .github/ISSUE_TEMPLATE/🐞-bug-report--js-.md
  .github/ISSUE_TEMPLATE/🐞-bug-report--python-.md
  .github/ISSUE_TEMPLATE/💡-feature-request.md
  .github/ISSUE_TEMPLATE/📝-documentation.md
Labels: documentation, config

#159 fix(js): Don't escape HTML in handlebars tags.
  js/src/dotprompt.test.ts
  js/src/dotprompt.ts
  spec/variables.yaml
Labels: config, js

#166 fix(go/dotprompt): Add partials and helpers parameters
  go/dotprompt/dotprompt.go
  go/dotprompt/test/spec_test.go
Labels: go

#168 fix(js): Fixes broken "LoadOptions" type, bumps to v1.1.1
  js/package.json
  js/src/types.ts
Labels: config, js
